body {
	font: menu;
}

.header, .bug, .donate {
	background: rgb(240, 240, 240);
}

.container > div {
	padding: 20px 0;
}

/*.options, .donate, .rate, .header .container, .bug */
.container {
	width: 700px;
}

.textarea {
	margin-top: 20px;
}

.textarea label {
	width: 570px;
}

.textarea textarea {
	resize: none;
	height: 200px;
	width: 100%;
	margin-top: 10px;
}

.left {
	float: left;
}

.donate p {
	padding: 0;
	margin: 3px 5px 20px 0;
}
